<div class="card">
    {% for section in site.data.training.sections %}
    <header class="card-header">
      <p class="card-header-title">
        {{ section.title }}
      </p>
      <button class="button is-medium is-white" aria-label="toggle menu">
        <span class="icon">
          <i class="fas fa-angle-down" aria-hidden="true"></i>
        </span>
      </button>
    </header>
    <div class="card-content">
      <nav class="panel">
        {% for lesson in section.lessons %}
        <a href="{{ site.baseurl }}/training/{{ section.slug }}/{{ lesson.slug }}/" class="panel-block {% if page.url contains lesson.slug %}is-active{% endif %}">
          <span class="panel-icon">
            {% if page.url contains lesson.slug %}
            <i class="fas fa-check-circle"></i>
            {% else %}
            <i class="far fa-circle"></i>
            {% endif %}
          </span>
          {{ lesson.title }}
        </a>
        {% endfor %}
      </nav>
    </div>
    {% endfor %}
  </div>
  