/* Blog Header Styles */
.blog-header {
    position: relative;
    background-color: #f7f7f7; /* Light background for hero section */
    padding-top: 4rem; /* Adjust as needed */
    padding-bottom: 2rem;
  }
  
  .blog-header .hero-body {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .blog-header-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .blog-header-subtitle {
    font-size: 1.25rem;
    margin-bottom: 1rem;
    color: #666;
  }
  
  .blog-header-tags .tag {
    margin-right: 0.5rem;
    font-size: 1rem;
  }
  
  .blog-header-tags .tag i {
    margin-right: 0.5rem;
  }
  
  .read-time {
    font-size: 1rem;
    margin-top: 1rem;
    color: #888;
  }
  
  .read-time i {
    margin-right: 0.5rem;
  }
  
  .column.is-4 {
    display: flex;
    justify-content: center;
  }
  
  .column.is-4 .image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  @media screen and (max-width: 768px) {
    .blog-header .columns {
      flex-direction: column;
    }
  
    .column.is-8 {
      margin-bottom: 2rem;
    }
  
    .blog-header-title {
      font-size: 2rem;
    }
  
    .blog-header-subtitle {
      font-size: 1rem;
    }
  
    .read-time {
      font-size: 0.9rem;
    }
  
    .column.is-4 {
      margin-top: 2rem;
    }
  }
  