{%- case include.type -%}
  {%- when 'square' -%}
    <div class="columns is-centered">
      <div class="column is-one-third has-text-centered">
        <ins class="adsbygoogle square" data-ad-client="{{ site.adsense.data-ad-client }}" data-ad-slot="7663977887"></ins>
      </div>
    </div>
    <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>

  {%- when 'button' -%}
    <div class="columns is-centered">
      <div class="column is-narrow has-text-centered">
        <ins class="adsbygoogle button" data-ad-client="{{ site.adsense.data-ad-client }}" data-ad-slot="3836856744"></ins>
      </div>
    </div>
    <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>

  {%- when 'top-leaderboard' -%}
    <div class="container has-text-centered">
      <ins class="adsbygoogle top-leaderboard" data-ad-client="{{ site.adsense.data-ad-client }}" data-ad-slot="3487917390"></ins>
    </div>
    <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>

  {%- when 'small-leaderboard' -%}
    <div class="columns is-centered">
      <div class="column is-narrow has-text-centered">
        <ins class="adsbygoogle small-leaderboard" data-ad-client="{{ site.adsense.data-ad-client }}" data-ad-slot="3487917390"></ins>
      </div>
    </div>
    <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>

  {%- when 'large-leaderboard' -%}
    <div class="columns is-centered">
      <div class="column is-one-third has-text-centered">
        <ins class="adsbygoogle large-leaderboard" data-ad-client="{{ site.adsense.data-ad-client }}" data-ad-slot="3487917390"></ins>
      </div>
    </div>
    <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>

  {%- when 'skyscraper' -%}
    <div class="columns is-centered">
      <div class="column is-narrow has-text-centered">
        <ins class="adsbygoogle skyscraper" data-ad-client="{{ site.adsense.data-ad-client }}" data-ad-slot="8939839370"></ins>
      </div>
    </div>
    <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>

  {%- when 'article' -%}
    <div class="columns is-centered">
      <div class="column is-full has-text-centered">
        <ins class="adsbygoogle article" data-ad-layout="in-article" data-ad-format="fluid" data-ad-client="{{ site.adsense.data-ad-client }}" data-ad-slot="6501428979"></ins>
      </div>
    </div>
    <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>

  {%- else -%}
    <!-- Invalid ad type -->
{%- endcase -%}
