{%- if site.adsense.enabled -%}
  {%- case include.type -%}
    {%- when 'square' -%}
      <!-- Square Ad (Responsive) -->
      <style>
        .square {
          width: auto;
          height: 250px;
        }

        @media (max-width: 799px) {
          .square {
            width: 300px;
            height: 250px;
          }
        }

        @media (max-width: 499px) {
          .square {
            width: 250px;
            height: 250px;
          }
        }
      </style>
      <div class="ads-container" id="lazy-ad-square">
        <ins class="adsbygoogle square"
            data-ad-client="{{ site.adsense.data-ad-client }}"
            data-ad-slot="7663977887"></ins>
      </div>

    {%- when 'button' -%}
      <!-- Button Ad (Responsive) -->
      <style>
        .button {
          width: auto;
          height: 60px;
        }
      </style>
      <div class="ads-container" id="lazy-ad-button">
        <ins class="adsbygoogle button"
            data-ad-client="{{ site.adsense.data-ad-client }}"
            data-ad-slot="3836856744"></ins>
      </div>

    {%- when 'top-leaderboard' -%}
      <!-- Top Leaderboard Ad -->
      <style>
        .top-leaderboard {
          height: 90px;
          width: 100%;
        }

        @media (max-width: 499px) {
          .top-leaderboard {
            height: 60px;
          }
        }
      </style>
      <div class="ads-container" id="lazy-ad-top-leaderboard">
        <ins class="adsbygoogle top-leaderboard"
            data-ad-client="{{ site.adsense.data-ad-client }}"
            data-ad-slot="3487917390"></ins>
      </div>

    {%- when 'small-leaderboard' -%}
      <!-- Small Leaderboard Ad -->
      <style>
        .small-leaderboard {
          width: 100%;
          height: 90px;
        }

        @media (max-width: 500px) {
          .small-leaderboard {
            height: 90px;
          }
        }

        @media (max-width: 800px) {
          .small-leaderboard {
            height: 50px;
          }
        }
      </style>
      <div class="ads-container" id="lazy-ad-small-leaderboard">
        <ins class="adsbygoogle small-leaderboard"
            data-ad-client="{{ site.adsense.data-ad-client }}"
            data-ad-slot="3487917390"></ins>
      </div>

    {%- when 'large-leaderboard' -%}
      <!-- Large Leaderboard Ad -->
      <style>
        .large-leaderboard {
          width: auto;
          height: 250px;
        }

        @media (max-width: 500px) {
          .large-leaderboard {
            width: auto;
            height: 250px;
          }
        }

        @media (max-width: 800px) {
          .large-leaderboard {
            width: 300px;
            height: 100px;
          }
        }
      </style>
      <div class="ads-container" id="lazy-ad-large-leaderboard">
        <ins class="adsbygoogle large-leaderboard"
            data-ad-client="{{ site.adsense.data-ad-client }}"
            data-ad-slot="3487917390"></ins>
      </div>

    {%- when 'skyscraper' -%}
      <!-- Skyscraper Ad -->
      <style>
        .skyscraper {
          width: 250px;
          height: 250px;
        }

        @media (min-width: 500px) {
          .skyscraper {
            width: 320px;
            height: 480px;
          }
        }

        @media (min-width: 800px) {
          .skyscraper {
            width: 300px;
            height: 900px;
          }
        }

        @media (min-width: 1200px) {
          .skyscraper {
            width: 300px;
            height: 1050px;
          }
        }
      </style>
      <div class="ads-container" id="lazy-ad-skyscraper">
        <ins class="adsbygoogle skyscraper"
            data-ad-client="{{ site.adsense.data-ad-client }}"
            data-ad-slot="8939839370"></ins>
      </div>

    {%- when 'skyscraper-small' -%}
      <!-- Small Skyscraper Ad -->
      <style>
        .small-skyscraper {
          width: 200px;
          height: 200px;
          border-top: 10px solid #e53935;
          border-bottom: 10px solid #e53935;
          border-radius: 10px;
          background-color: #f7f7f7;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0 auto;
          text-align: center;
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
        }

        @media (min-width: 500px) {
          .small-skyscraper {
            width: 320px;
            height: 480px;
          }
        }

        @media (min-width: 800px) {
          .small-skyscraper {
            width: 300px;
            height: 600px;
          }
        }

        @media (min-width: 1200px) {
          .small-skyscraper {
            width: 300px;
            height: 700px;
          }
        }

        @media (max-width: 1200px) and (min-width: 501px) {
          .small-skyscraper {
            width: 300px;
            height: 600px;
          }
        }

        @media (max-width: 500px) {
          .small-skyscraper {
            width: 300px;
            height: 250px;
          }
        }
      </style>
      <div class="ads-container" id="lazy-ad-small-skyscraper">
        <ins class="adsbygoogle small-skyscraper"
            data-ad-client="{{ site.adsense.data-ad-client }}"
            data-ad-slot="3487917390"></ins>
      </div>

    {%- when 'article' -%}
      <!-- Article Ad -->
      <style>
        .article {
          border-radius: 10px;
          background-color: #f7f7f7;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 2em auto;
          text-align: center;
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
        }
      </style>
      <div class="ads-container" id="lazy-ad-article">
        <ins class="adsbygoogle article"
            data-ad-layout="in-article"
            data-ad-format="fluid"
            data-ad-client="{{ site.adsense.data-ad-client }}"
            data-ad-slot="6501428979"></ins>
      </div>

    {%- when 'multiplex' -%}
      <!-- Multiplex Ad -->
      <div class="ads-container" id="lazy-ad-multiplex">
        <ins class="adsbygoogle"
            style="display:block"
            data-ad-format="autorelaxed"
            data-ad-client="{{ site.adsense.data-ad-client }}"
            data-ad-slot="6808134701"></ins>
      </div>

    {%- else -%}
      <!-- Invalid ad type -->
      <p>Invalid ad type specified.</p>
  {%- endcase -%}

  <script>
    // Intersection Observer for Lazy Loading Ads
    document.addEventListener("DOMContentLoaded", function () {
      const ads = document.querySelectorAll('.ads-container');
      const observer = new IntersectionObserver((entries, observer) => {
        entries.forEach(entry => {
          if (entry.isIntersecting) {
            // Push ad to display only when it comes into view
            (adsbygoogle = window.adsbygoogle || []).push({});
            observer.unobserve(entry.target);
          }
        });
      }, { threshold: 0.5 });

      ads.forEach(ad => observer.observe(ad));
    });
  </script>

{%- endif -%}
