<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <i class="fa-solid fa-person-chalkboard has-text-primary fa-xl mr-2"></i> {{ site.title }}
      </a>
      <button class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </button>
    </div>
    <div id="navbarMenu" class="navbar-menu">
      <div class="navbar-end">
        {% for item in site.navigation_header %}
          {% if item.title == 'Resources' %}
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link" href="#">
                <span class="icon"><i class="fas fa-folder"></i></span> {{ item.title }}
              </a>
              <div class="navbar-dropdown">
                {% for subitem in item.submenu %}
                  <a class="navbar-item" href="{{ subitem.url | relative_url }}">
                    <span class="icon"><i class="{{ subitem.icon }}"></i></span> {{ subitem.title }}
                  </a>
                {% endfor %}
              </div>
            </div>
          {% else %}
            {% if item.url contains '://' %}
              {% assign url = item.url %}
            {% else %}
              {% assign url = item.url | relative_url %}
            {% endif %}
            <a class="navbar-item {% if item.url == page.url %} is-active{% endif %}" href="{{ url }}">
              <span class="icon"><i class="{{ item.icon }}"></i></span> {{ item.title }}
            </a>
          {% endif %}
        {% endfor %}
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <a href="https://github.com/yourproject" class="button is-primary" target="_blank">
            <span class="icon"><i class="fas fa-star"></i></span>
            <span>Star on GitHub</span>
          </a>
        </div>
        <div class="navbar-item">
          <button id="darkModeToggle" class="button is-light">
            <span class="icon"><i class="fas fa-moon"></i></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const darkModeToggle = document.getElementById('darkModeToggle');
    darkModeToggle.addEventListener('click', () => {
      document.documentElement.classList.toggle('has-dark-mode');
    });
  });
</script>
<style>
  :root.has-dark-mode {
  background-color: #121212;
  color: #ffffff;
}

:root.has-dark-mode .navbar {
  background-color: #222;
}

</style>