<!-- File: _includes/resource_filters.html -->

<div class="resource-filter-group">
  <h3 class="resource-filter-group__title">Content Type</h3>
  <ul class="resource-filter-options">
    <li>
      <label for="type-articles" class="resource-filter-label">
        <input class="resource-filter-input" type="checkbox" id="type-articles" name="type" value="Article" checked>
        <span class="resource-filter-icon"><i class="ph-duotone ph-article"></i></span>
        <div class="resource-filter-text">
          <div class="resource-filter-text__title">Articles & Guides</div>
        </div>
        <span class="resource-filter-check"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor"><path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/></svg></span>
      </label>
    </li>
    <li>
      <label for="type-videos" class="resource-filter-label">
        <input class="resource-filter-input" type="checkbox" id="type-videos" name="type" value="Video">
        <span class="resource-filter-icon"><i class="ph-duotone ph-youtube-logo"></i></span>
        <div class="resource-filter-text">
          <div class="resource-filter-text__title">Videos & Courses</div>
        </div>
        <span class="resource-filter-check"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor"><path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/></svg></span>
      </label>
    </li>
  </ul>
</div>

<div class="resource-filter-group">
  <h3 class="resource-filter-group__title">Topic</h3>
  <ul class="resource-filter-options">
    <li>
      <label for="topic-resume" class="resource-filter-label">
        <input class="resource-filter-input" type="checkbox" id="topic-resume" name="topic" value="Resume" checked>
        <span class="resource-filter-icon"><i class="ph-duotone ph-file-text"></i></span>
        <div class="resource-filter-text">
          <div class="resource-filter-text__title">Resume & CV</div>
        </div>
        <span class="resource-filter-check"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor"><path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/></svg></span>
      </label>
    </li>
  </ul>
</div>

<div class="resource-sidebar__footer">
  <button class="btn btn--primary btn--block">Apply Filters</button>
</div>