<header class="header">
  <nav class="navbar is-fixed-top is-white has-shadow" role="navigation" aria-label="main navigation">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <i class="fa-solid fa-person-chalkboard has-text-primary fa-xl mr-2"></i>
          <span class="has-text-primary has-text-weight-bold">{{ site.brandname | default: 'CRM Analytics' }}</span>
          <span class="is-size-6 has-text-dark ml-1">{{ site.site_type | default: 'Academy' }}</span>
        </a>
        <button class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </button>
      </div>

      <div id="navbarMenu" class="navbar-menu">
        <!-- Navbar Start -->
        <div class="navbar-start">
          {% for item in site.navigation_header %}
            {% if item.submenu %}
              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" href="{{ item.url | relative_url }}">
                  <i class="{{ item.icon }} mr-2"></i> {{ item.title }}
                </a>
                <div class="navbar-dropdown is-boxed">
                  {% for subitem in item.submenu %}
                    <a class="navbar-item" href="{{ subitem.url | relative_url }}">
                      <i class="{{ subitem.icon }} mr-2"></i> {{ subitem.title }}
                    </a>
                  {% endfor %}
                </div>
              </div>
            {% else %}
              <a class="navbar-item {% if item.url == page.url %} is-active {% endif %}" href="{{ item.url | relative_url }}">
                <i class="{{ item.icon }} mr-2"></i> {{ item.title }}
              </a>
            {% endif %}
          {% endfor %}
        </div>

        <!-- Navbar End -->
        <div class="navbar-end">
          <a class="navbar-item" href="/search">
            <i class="fas fa-search mr-2"></i> Search
          </a>
          <a class="navbar-item" href="/support">
            <i class="fas fa-hands-helping mr-2"></i> Support
          </a>
          <a class="navbar-item" href="/donate">
            <i class="fas fa-donate mr-2"></i> Donate
          </a>
          <a class="navbar-item" href="https://github.com/imswarnil/CRM-Analytics-Academy" target="_blank">
            <i class="fab fa-github mr-2"></i> Star on GitHub
          </a>
        </div>
      </div>
    </div>
  </nav>
</header>