<section class="hero {% if page.layout == 'home' %}home-hero{% elsif page.layout == 'post' %}post-hero{% endif %} {% if page.bg %}{{ page.bg }}{% else %}has-background-primary-light{% endif %} {% if page.height %}{{ page.height }}{% else %}is-medium{% endif %}">
    <!-- Decorative Circles -->
    <div class="circle-top-large"></div>
    <div class="circle-top-small"></div>
    <div class="circle-bottom"></div>
  
    <div class="hero-body">
      <div class="container {% if page.align == 'center' %}has-text-centered{% elsif page.align == 'left' %}has-text-left{% elsif page.align == 'right' %}has-text-right{% endif %}">
        <div class="columns is-vcentered">
          <!-- Left Column (if applicable) -->
          {% if page.layout == 'home' %}
          <div class="column is-half">
            <h1 class="title">{{ page.title }}</h1>
            <p class="subtitle">{{ page.description }}</p>
            <div class="buttons">
              {% if page.primarylink and page.primarytext %}
              <a href="{{ page.primarylink }}" class="button is-primary">{{ page.primarytext }}</a>
              {% endif %}
              {% if page.secondarylink and page.secondarytext %}
              <a href="{{ page.secondarylink }}" class="button is-light is-outlined">{{ page.secondarytext }}</a>
              {% endif %}
            </div>
          </div>
          {% endif %}
  
          <!-- Right Column (if applicable) -->
          {% if page.layout == 'home' %}
          <div class="column is-half has-text-centered">
            {% if page.image %}
            <figure>
              <img src="{{ page.image }}" alt="{{ page.title }}" class="hero-image">
            </figure>
            {% endif %}
          </div>
          {% endif %}
  
          <!-- Post Layout Section -->
          {% if page.layout == 'post' %}
          <div class="column is-8">
            <h1 class="title is-2 blog-header-heading">{{ page.title }}</h1>
            <h2 class="subtitle is-4 blog-header-subtitle">{{ page.description }}</h2>
  
            <div class="post-meta">
              {% for tag in page.tags %}
                <span class="tag is-info"><i class="fas fa-tag"></i> {{ tag }}</span>
              {% endfor %}
              <span class="reading-time"><i class="fas fa-clock"></i> <strong>Reading Time:</strong> {{ page.reading_time }} min</span>
            </div>
          </div>
  
          <!-- Right Column (Post Image & ID) -->
          <div class="column is-4">
            <div class="post-id-card">
              <figure class="image is-16by9 blog-image">
                <img src="{{ page.image }}" alt="{{ page.title }}">
              </figure>
              <p class="post-id">ID: <strong>{{ page.id }}</strong></p>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
  