// =============================================================================
// VARIABLES
// Centralized design tokens for the theme.
// =============================================================================


// -----------------------------------------------------------------------------
// Light Theme (Default)
// -----------------------------------------------------------------------------

:root {

  // Base Colors (Light Mode)
  --spruce-base-color-background: hsl(0, 0%, 100%);
  --spruce-base-color-border: hsla(0, 0%, 0%, 0.05);
  --spruce-base-color-heading: hsl(232, 68%, 11%);
  --spruce-base-color-text: hsl(208, 21%, 39%);
  --spruce-base-color-primary: hsl(203, 96%, 79%); /* light blue */
  --spruce-base-color-secondary: hsl(203, 96%, 79%); /* medium blue */
  --spruce-base-color-link: hsl(203, 96%, 79%);
  --spruce-base-color-link-hover: hsl(208, 80%, 36%); /* dark blue */
  --spruce-base-color-strong: hsl(245, 31%, 21%);

  // Element-specific Colors
  --spruce-base-color-blockquote-border: hsl(203, 96%, 79%);
  --spruce-base-color-marker: hsl(203, 96%, 79%);
  --spruce-base-color-code-background: hsl(224, 94%, 97%);
  --spruce-base-color-code-foreground: hsl(245, 31%, 21%);
  --spruce-base-color-mark-background: hsl(50, 100%, 80%);
  --spruce-base-color-mark-foreground: hsl(245, 31%, 21%);

  // Component Colors: Alerts
  --spruce-alert-color-danger: hsl(0, 71%, 51%);
  --spruce-alert-color-info: hsl(195, 100%, 42%);
  --spruce-alert-color-success: hsl(150, 100%, 33%);
  --spruce-alert-color-warning: hsl(48, 89%, 55%);

  // Component Colors: Buttons
  --spruce-btn-color-primary-background: hsl(203, 96%, 79%);
  --spruce-btn-color-primary-background-hover: hsl(208, 80%, 36%);
  --spruce-btn-color-primary-foreground: hsl(0, 0%, 100%);
  --spruce-btn-color-primary-shadow: hsl(203, 96%, 79%);
  --spruce-btn-color-secondary-background: hsl(203, 96%, 79%);
  --spruce-btn-color-secondary-background-hover: hsl(208, 80%, 36%);
  --spruce-btn-color-secondary-foreground: #002e33;
  --spruce-btn-color-secondary-shadow: #99f5ff;

  // Component Colors: Forms
  --spruce-form-color-background: hsl(0, 0%, 100%);
  --spruce-form-color-background-disabled: hsl(0, 0%, 95%);
  --spruce-form-color-border: hsl(260, 4%, 70%);
  --spruce-form-color-border-disabled: hsl(215, 63%, 93%);
  --spruce-form-color-border-focus: hsl(203, 96%, 79%);
  --spruce-form-color-check-background: hsl(203, 96%, 79%);
  --spruce-form-color-check-focus-ring: hsl(203, 96%, 79%);
  --spruce-form-color-check-foreground: hsl(0, 0%, 100%);
  --spruce-form-color-group-label-background: hsl(210, 60%, 98%);
  --spruce-form-color-group-label-foreground: hsl(208, 9%, 42%);
  --spruce-form-color-invalid: hsl(0, 71%, 51%);
  --spruce-form-color-invalid-focus-ring: rgba(219, 41, 41, 0.25);
  --spruce-form-color-label: hsl(245, 31%, 21%);
  --spruce-form-color-legend: hsl(245, 31%, 21%);
  --spruce-form-color-placeholder: hsl(208, 7%, 40%);
  --spruce-form-color-range-thumb-background: hsl(203, 96%, 79%);
  --spruce-form-color-range-thumb-focus-ring: hsl(203, 96%, 79%);
  --spruce-form-color-range-track-background: hsl(215, 63%, 93%);
  --spruce-form-color-ring-focus: rgba(0, 9, 255, 0.25);
  --spruce-form-color-select-foreground: hsl(245, 31%, 21%);
  --spruce-form-color-text: hsl(208, 9%, 42%);
  --spruce-form-color-valid: hsl(150, 100%, 33%);
  --spruce-form-color-valid-focus-ring: rgba(0, 168, 84, 0.25);

  // Component Colors: Tables
  --spruce-table-color-border: hsl(215, 63%, 93%);
  --spruce-table-color-caption: hsl(208, 9%, 42%);
  --spruce-table-color-heading: hsl(245, 31%, 21%);
  --spruce-table-color-hover: hsla(0, 0%, 0%, 0.05);
  --spruce-table-color-stripe: hsla(0, 0%, 0%, 0.025);
  --spruce-table-color-text: hsl(208, 9%, 42%);

  // Component Colors: Other
  --spruce-breadcrumb-color-separator: hsl(0, 0%, 80%);
  --spruce-card-color-background: hsl(0, 0%, 100%);
  --spruce-footer-color-background: hsl(224, 94%, 98%);
  --spruce-navigation-color-arrow: hsla(0, 0%, 0%, 0.15);
  --spruce-navigation-color-icon-background: hsl(224, 94%, 98%);
  --spruce-navigation-color-icon-background-hover: hsl(203, 96%, 79%);
  --spruce-navigation-color-icon-foreground: hsl(203, 96%, 79%);
  --spruce-navigation-color-icon-foreground-hover: hsl(0, 0%, 100%);
  --spruce-search-color-icon: hsla(229, 26%, 48%, 0.25);
  --spruce-selection-color-background: hsl(208, 80%, 36%);
  --spruce-selection-color-foreground: hsl(0, 0%, 100%);
  --spruce-scrollbar-color-thumb-background: hsla(229, 26%, 48%, 0.15);
  --spruce-scrollbar-color-thumb-background-hover: hsla(0, 0%, 0%, 0.25);
  --spruce-scrollbar-color-track-background: hsla(226, 100%, 87%, 0.15);

  // Component Colors: Prism (Code Highlighting)
  --spruce-prism-color-background: hsl(224, 94%, 99%);
  --spruce-prism-color-color: hsl(243, 14%, 29%);
  --spruce-prism-color-comment: hsl(225, 14%, 46%);
  --spruce-prism-color-punctuation: hsl(279, 50%, 53%);
  --spruce-prism-color-namespace: hsl(173, 100%, 24%);
  --spruce-prism-color-deleted: hsla(1, 83%, 63%, 0.56);
  --spruce-prism-color-boolean: hsl(0, 44%, 53%);
  --spruce-prism-color-number: hsl(315, 90%, 35%);
  --spruce-prism-color-constant: hsl(221, 57%, 52%);
  --spruce-prism-color-class-name: hsl(0, 0%, 7%);
  --spruce-prism-color-regex: hsl(1, 48%, 59%);

  // Font Families
  --spruce-font-family-base: "Open Sans", sans-serif;
  --spruce-font-family-heading: "Manrope", sans-serif;
  --spruce-font-family-cursive: ui-monospace, Cascadia Code, Source Code Pro, Menlo, Consolas, DejaVu Sans Mono, monospace;

  // Font Sizing & Weights
  --spruce-font-size-base: 1rem;
  --spruce-font-size-sm: 0.875rem;
  --spruce-font-size-lg: 1.125rem;
  --spruce-font-size-lead: clamp(1.1rem, 2vw, 1.25rem);
  --spruce-font-size-ratio: 1.25;
  --spruce-font-weight-heading: 700;

  // Line Heights
  --spruce-line-height-base: 1.8;
  --spruce-line-height-sm: 1.2;
  --spruce-line-height-md: 1.5;
  --spruce-line-height-lg: 1.8;
  --spruce-line-height-heading: calc(2px + 2ex + 2px);

  // Layout Sizing
  --spruce-border-radius: 0.425rem;
  --spruce-border-radius-sm: 0.425rem;
  --spruce-border-radius-lg: 0.925rem;
  --spruce-box-shadow: 0 0.75rem 1.25rem hsla(0, 0%, 0%, 0.05);

  --spruce-container-inline-size: 84rem;
  --spruce-max-content-inline-size: 70rem;
  --spruce-container-gap: clamp(1.5rem, 5vw, 3rem);
  --spruce-section-gap: clamp(5rem, 7vw, 7rem);

  --spruce-inline-padding: 0.1em 0.3em;
  --spruce-page-margin: 2cm;
  --spruce-hidden-elements: header, footer, aside, nav, form, iframe, [class^="aspect-ratio"];

  --spruce-duration: 0.15s;
  --spruce-timing-function: ease-in-out;
}
