---
---
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');


.geist-mono {
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

$primary: #0176d3;
$link : $primary;
$family-sans-serif: "Geist", "Arial", sans-serif !default;
$family-monospace: "geist-mono", monospace !default;
$render-mode: optimizeLegibility !default;

// Ensure columns inside the main content are aligned properly
.columns {
    align-items: flex-start; // Adjust alignment as needed
  }
  
  // Sticky behavior for the aside when page scrolls
  aside {
    position: -webkit-sticky;
    position: sticky;
    top: 20px; // Adjust top spacing as needed
  }
// Import custom resume extensions
@import "main";
