---
layout: default
---

<div class="bg-gray-100">
    <div class="container mx-auto">
        <h1 class="text-4xl font-bold mb-8">{{ page.title | escape }}</h1>

        <div class="article-content">
            {{ content }}
        </div>

        {% assign journeys = (site.journeys | sort: 'date') | reverse %}
        <ul class="timeline">
            {% for journey in journeys %}
                <li class="py-4 px-4">
                    <hr class="my-4 border-t-2 border-gray-300">
                    <div class="relative">
                        <h2 class="text-xl font-semibold mb-2">{{ journey.title }}</h2>
                        <div class="text-sm text-gray-600 hidden md:block">
                            {% if journey.date %}
                                <time datetime="{{ journey.date | date_to_xmlschema }}" itemprop="datePublished">
                                    {{ journey.date | date: site.date_format | default: "%b %-d, %Y" }}
                                </time>
                            {% endif %}
                        </div>
                        <div class="text-sm text-gray-600 md:hidden mb-4">
                            {% if journey.date %}
                                <time datetime="{{ journey.date | date_to_xmlschema }}" itemprop="datePublished">
                                    {{ journey.date | date: site.date_format | default: "%b %-d, %Y" }}
                                </time>
                            {% endif %}
                        </div>
                    </div>
                    <div class="article-content mt-4">{{ journey.content }}</div>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
