---
layout: default
---
<main class="section">
  <div class="container">
    <div class="columns">
        <!-- Fixed Ad Sidebar -->
        <div class="column is-3 is-hidden-mobile">
          {% adsense square %}
          <div style="position: sticky; top:0;">
            {% adsense skyscraper %}
          </div>
        </div>
      <!-- Main Content -->
      <div class="column is-6">
        <article class="content">
          <div class="content-body">
            {{ content }}
          </div>
        </article>
      </div>

      {% if page.aside == true %}
        <!-- Aside Content -->
        <aside class="column is-3 is-hidden-mobile">
          {% include site-aside.html %}
        </aside>
      {% endif %}
    </div>
  </div>
</main>

{% include site-footer.html %}
