---
layout: default
---

{% assign container_class = page.width | prepend: 'max-w-' | append: '-xl' %}

{% if page.width == 'expand' %}
    {{ content }}
{% else %}
<div class="bg-gray-100">
    <div class="container mx-auto {{ container_class }}">

        <article class="prose lg:prose-xl text-gray-800">

            <h1 class="text-4xl font-bold">{{ page.title | escape }}</h1>

            <div class="article-content text-primary">
                {{ content }}
            </div>

        </article>

    </div>
</div>
{% endif %}
