---
layout: default
---
<main class="section">
  <div class="container">
    <div class="columns">
        <!-- Fixed Ad Sidebar -->
        <div class="column is-2 is-hidden-mobile" style="position: static;top:0;">
          {% adsense square %}
          <div>
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1291242080282540"
            crossorigin="anonymous"></script>
       <!-- Skyscraper (160×600) -->
       <ins class="adsbygoogle"
            style="display:inline-block;width:160px;height:600px"
            data-ad-client="ca-pub-1291242080282540"
            data-ad-slot="4394096538"></ins>
       <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
       </script>
          </div>
        </div>
      <!-- Main Content -->
      <div class="column is-7">
        <article class="content">
          <div class="content-body">
            {{ content }}
          </div>
        </article>
      </div>

      {% if page.aside == true %}
        <!-- Aside Content -->
        <aside class="column is-3 is-hidden-mobile">
          {% include site-aside.html %}
        </aside>
      {% endif %}
    </div>
  </div>
</main>

{% include site-footer.html %}
