---
layout: default
---

<div class="my-5">
  <div class="container">
    <div class="columns mt-5">
      <div class="column is-8">
        <!-- Blog Post Content -->
        <article class="content">
          <h1 class="title is-2 has-text-primary">{{ page.title }}</h1>
          <p class="subtitle is-4 has-text-grey-light">{{ page.excerpt }}</p>

          <!-- Thumbnail -->
          <figure class="image is-16by9">
            <img src="{{ page.image | default: 'https://via.placeholder.com/640x360' }}" alt="{{ page.title }}">
          </figure>

          <!-- Content Meta Information -->
          <div class="content-meta my-6">
            <div class="media">
              <figure class="media-left">
                <p class="image is-48x48">
                  <img class="is-rounded" src="{{ site.data.authors[page.author].avatar | default: 'https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_640.png' }}" alt="{{ site.data.authors[page.author].name }}">
                </p>
              </figure>
              <div class="media-content">
                <div class="content">
                  <p>Written by 
                    <span>{{ site.data.authors[page.author].name | default: "Unknown" }}</span>
                    <br>
                    <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %d, %Y" }}</time>
                  </p>
                </div>
              </div>
            </div>
          </div>

          <!-- Main Content -->
          <div class="content">
            {{ content }}
          </div>

          <!-- Social Media Share Links -->
          <div class="buttons is-centered my-4">
            <a class="button is-link is-light" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}" target="_blank">
              <span class="icon mr-1"><i class="fab fa-twitter"></i></span> Tweet It
            </a>
            <a class="button is-link is-light" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" target="_blank">
              <span class="icon mr-1"><i class="fab fa-facebook"></i></span> Share It On Facebook
            </a>
          </div>

          <!-- Author Details -->
          <div class="box mt-6">
            <div class="media">
              <figure class="media-left">
                <p class="image is-128x128">
                  <img class="is-rounded" src="{{ site.data.authors[page.author].avatar | default: 'https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_640.png' }}" alt="{{ site.data.authors[page.author].name }}">
                </p>
              </figure>
              <div class="media-content">
                <h3 class="title is-4">{{ site.data.authors[page.author].name }}</h3>
                <p>{{ site.data.authors[page.author].bio }}</p>
                <div class="mt-4">
                  <a href="https://twitter.com/{{ site.data.authors[page.author].twitter }}" class="icon mr-2"><i class="fab fa-twitter"></i></a>
                  <a href="https://github.com/{{ site.data.authors[page.author].github }}" class="icon mr-2"><i class="fab fa-github"></i></a>
                </div>
              </div>
            </div>
          </div>

          <!-- JSON-LD Schema -->
          <script type="application/ld+json">
          {
            "@context": "https://schema.org",
            "@type": "BlogPosting",
            "mainEntityOfPage": {
              "@type": "WebPage",
              "@id": "{{ site.url }}{{ page.url }}"
            },
            "headline": "{{ page.title }}",
            "description": "{{ page.excerpt }}",
            "image": "{{ page.image | default: 'https://via.placeholder.com/640x360' }}",
            "author": {
              "@type": "Person",
              "name": "{{ site.data.authors[page.author].name }}",
              "bio": "{{ site.data.authors[page.author].bio }}",
              "url": "https://github.com/{{ site.data.authors[page.author].github }}"
            },
            "datePublished": "{{ page.date | date_to_xmlschema }}",
            "dateModified": "{{ page.date | date_to_xmlschema }}",
            "publisher": {
              "@type": "Organization",
              "name": "{{ site.title }}",
              "logo": {
                "@type": "ImageObject",
                "url": "{{ site.logo }}"
              }
            },
            "keywords": "{{ page.keywords }}"
          }
          </script>
        </article>
      </div>
    </div>
  </div>
</div>

{% include site-footer.html %}
