<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
{% include head.html %}
<body>
   <div class="site-wrapper">
  <a class="btn btn--primary skip-link" href="#content">Skip to content</a>
  <div class="container container--wide">
      {% include header.html %} 
  <div class="l-main">
<aside class="sidebar l-main__sidebar">
  <div class="sidebar__body">
    <div class="sidebar-section sidebar-section--navigation">
      <h3 class="sidebar-section__title">Filter</h3>
    </div>
  </div>
  <div class="sidebar__footer">
    © Some rights reserved.
  </div>
</aside>
<div class="l-main__body">
      <main id="content">
        {{ content }}
      </main>
    </div>

  </div>
  <script src="{{ '/assets/js/theme-change-assets.js' | relative_url }}" defer="defer"></script>
  <script src="{{ '/assets/js/navigation.js' | relative_url }}" defer="defer"></script>
  <script src="{{ '/assets/js/theme-switcher.js' | relative_url }}" defer="defer"></script>
  <script src="{{ '/assets/js/accordion-card.js' | relative_url }}" defer="defer"></script>
</body>
</html>
