<div class="skills-card-home-container">
  {% for skill in include.skill-cards %}
  <a href="{{ skill.url }}" class="skills-card-home">
    <span class="skills-card-home-icon"><i class="{{ skill.icon }}"></i></span>
    <div class="skills-card-home-content">
      <div class="skills-card-home-title has-text-primary">{{ skill.title }}</div>
      <div class="skills-card-home-desc">{{ skill.description }}</div>
    </div>
  </a>
  {% endfor %}
</div>


<script>
  document.addEventListener("DOMContentLoaded", () => {
    document.querySelectorAll(".skills-card-home").forEach((card, index) => {
      setTimeout(() => {
        card.classList.add("fade-in");
      }, index * 150);
    });
  });
</script>
